<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>addUser</servlet-name>
        <servlet-class>servelet.addUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>\</servlet-name>
        <servlet-class>servelet.checkEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>log</servlet-name>
        <servlet-class>servelet.log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMemReq</servlet-name>
        <servlet-class>servelet.sendMemReq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savePage</servlet-name>
        <servlet-class>servelet.savePage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewCata</servlet-name>
        <servlet-class>servelet.addNewCata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadCataList</servlet-name>
        <servlet-class>servelet.loadCataList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calculateTotalPrice</servlet-name>
        <servlet-class>servelet.calculateTotalPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>servelet.addProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadCheckBox_1</servlet-name>
        <servlet-class>servelet.loadCheckBox_1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadProducts</servlet-name>
        <servlet-class>servelet.loadProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStarRate</servlet-name>
        <servlet-class>servelet.addStarRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadComments</servlet-name>
        <servlet-class>servelet.loadComments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addComment</servlet-name>
        <servlet-class>servelet.addComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStarRateSeller</servlet-name>
        <servlet-class>servelet.addStarRateSeller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateNotiStatus</servlet-name>
        <servlet-class>servelet.updateNotiStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadNoti</servlet-name>
        <servlet-class>servelet.loadNoti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>servelet.addToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadCartCount</servlet-name>
        <servlet-class>servelet.loadCartCount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeItem</servlet-name>
        <servlet-class>servelet.removeItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkOutCart</servlet-name>
        <servlet-class>servelet.checkOutCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToWishlist</servlet-name>
        <servlet-class>servelet.addToWishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateUserDetails</servlet-name>
        <servlet-class>servelet.updateUserDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkPassword</servlet-name>
        <servlet-class>servelet.checkPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePassword</servlet-name>
        <servlet-class>servelet.updatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeWishListItem</servlet-name>
        <servlet-class>servelet.removeWishListItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadSF</servlet-name>
        <servlet-class>servelet.downloadSF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveSeller</servlet-name>
        <servlet-class>servelet.saveSeller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeSavedSeller</servlet-name>
        <servlet-class>servelet.removeSavedSeller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_log</servlet-name>
        <servlet-class>servelet.admin_log</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setUserStatus</servlet-name>
        <servlet-class>servelet.setUserStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadUserDataTable</servlet-name>
        <servlet-class>servelet.loadUserDataTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadMemberDataTable</servlet-name>
        <servlet-class>servelet.loadMemberDataTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadPackgeDetails</servlet-name>
        <servlet-class>servelet.loadPackgeDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addNewPackage</servlet-name>
        <servlet-class>servelet.addNewPackage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSellerHasPackageTable</servlet-name>
        <servlet-class>servelet.loadSellerHasPackageTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadAllProductsTable</servlet-name>
        <servlet-class>servelet.loadAllProductsTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProduct</servlet-name>
        <servlet-class>servelet.updateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadSoldProductsTable</servlet-name>
        <servlet-class>servelet.loadSoldProductsTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadPackageInvoiceTable</servlet-name>
        <servlet-class>servelet.loadPackageInvoiceTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadProductsInvoiceTable</servlet-name>
        <servlet-class>servelet.loadProductsInvoiceTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadProfitsTables</servlet-name>
        <servlet-class>servelet.loadProfitsTables</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jasper_productInvoice</servlet-name>
        <servlet-class>servelet.jasper_productInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jasper_packageInvoice</servlet-name>
        <servlet-class>servelet.jasper_packageInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadChartsValue</servlet-name>
        <servlet-class>servelet.loadChartsValue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logOut</servlet-name>
        <servlet-class>servelet.logOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stopServer</servlet-name>
        <servlet-class>servelet.stopServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendNoti</servlet-name>
        <servlet-class>servelet.sendNoti</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateAndAddAdmin</servlet-name>
        <servlet-class>servelet.updateAndAddAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>postReqProject</servlet-name>
        <servlet-class>servelet.postReqProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productInvoiceDwonload</servlet-name>
        <servlet-class>servelet.productInvoiceDwonload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>packageInvoiceDwonload</servlet-name>
        <servlet-class>servelet.packageInvoiceDwonload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addUser</servlet-name>
        <url-pattern>/addUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>\</servlet-name>
        <url-pattern>/checkEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>log</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMemReq</servlet-name>
        <url-pattern>/sendMemReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savePage</servlet-name>
        <url-pattern>/savePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewCata</servlet-name>
        <url-pattern>/addNewCata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadCataList</servlet-name>
        <url-pattern>/loadCataList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calculateTotalPrice</servlet-name>
        <url-pattern>/calculateTotalPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadCheckBox_1</servlet-name>
        <url-pattern>/loadCheckBox_1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadProducts</servlet-name>
        <url-pattern>/loadProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStarRate</servlet-name>
        <url-pattern>/addStarRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadComments</servlet-name>
        <url-pattern>/loadComments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addComment</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStarRateSeller</servlet-name>
        <url-pattern>/addStarRateSeller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateNotiStatus</servlet-name>
        <url-pattern>/updateNotiStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadNoti</servlet-name>
        <url-pattern>/loadNoti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadCartCount</servlet-name>
        <url-pattern>/loadCartCount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeItem</servlet-name>
        <url-pattern>/removeItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkOutCart</servlet-name>
        <url-pattern>/checkOutCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToWishlist</servlet-name>
        <url-pattern>/addToWishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateUserDetails</servlet-name>
        <url-pattern>/updateUserDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkPassword</servlet-name>
        <url-pattern>/checkPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePassword</servlet-name>
        <url-pattern>/updatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeWishListItem</servlet-name>
        <url-pattern>/removeWishListItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadSF</servlet-name>
        <url-pattern>/downloadSF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveSeller</servlet-name>
        <url-pattern>/saveSeller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeSavedSeller</servlet-name>
        <url-pattern>/removeSavedSeller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_log</servlet-name>
        <url-pattern>/admin_log</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setUserStatus</servlet-name>
        <url-pattern>/setUserStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadUserDataTable</servlet-name>
        <url-pattern>/loadUserDataTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadMemberDataTable</servlet-name>
        <url-pattern>/loadMemberDataTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadPackgeDetails</servlet-name>
        <url-pattern>/loadPackgeDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addNewPackage</servlet-name>
        <url-pattern>/addNewPackage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSellerHasPackageTable</servlet-name>
        <url-pattern>/loadSellerHasPackageTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadAllProductsTable</servlet-name>
        <url-pattern>/loadAllProductsTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProduct</servlet-name>
        <url-pattern>/updateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadSoldProductsTable</servlet-name>
        <url-pattern>/loadSoldProductsTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadPackageInvoiceTable</servlet-name>
        <url-pattern>/loadPackageInvoiceTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadProductsInvoiceTable</servlet-name>
        <url-pattern>/loadProductsInvoiceTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadProfitsTables</servlet-name>
        <url-pattern>/loadProfitsTables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jasper_productInvoice</servlet-name>
        <url-pattern>/jasper_productInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>jasper_packageInvoice</servlet-name>
        <url-pattern>/jasper_packageInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadChartsValue</servlet-name>
        <url-pattern>/loadChartsValue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stopServer</servlet-name>
        <url-pattern>/stopServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendNoti</servlet-name>
        <url-pattern>/sendNoti</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateAndAddAdmin</servlet-name>
        <url-pattern>/updateAndAddAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>postReqProject</servlet-name>
        <url-pattern>/postReqProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productInvoiceDwonload</servlet-name>
        <url-pattern>/productInvoiceDwonload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>packageInvoiceDwonload</servlet-name>
        <url-pattern>/packageInvoiceDwonload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>listners.sessionL</listener-class>
    </listener>
    <error-page>
        <error-code>404</error-code>
        <location>/server_404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/server_500.jsp</location>
    </error-page>
</web-app>
